{
    "arch":           "{{ .Arch}}",
    "os":             "{{ .OS }}",
    "revision":       "{{ .Revision }}",
    "revision-short": "{{ .ShortRevision }}",
    "runtime":        "{{ .Runtime }}",
    "timestamp":      "{{ .Timestamp }}",
    "version":        "{{ .Version }}"
}
